{% extends 'base.html' %}

{% block title %}
Формы для добавления записей
{% endblock %}

{% block body %}
<section class="hero1">
    <div class="container mt-5">
        <h1>Добавление или удаление врачей</h1>
        <form method="post">
            <input type="text" name="fioDoctor" id="fioDoctor" class="form-control" placeholder="Введите ФИО врача"><br>
            <input type="text" name="specialization" id="specialization" class="form-control" placeholder="Введите специализацию врача"><br>
            <input type="submit" class="btn btn-success" value="Добавить нового врача">

        </form>
    </div>
</section>
{% endblock %}